body {
    font-family: 'Bitter', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(
        to bottom,
        #3C2A21 0%,
        #3C2A21 50%, 
        #EEEEEE 50%,
        #EEEEEE 100%
        );
    height:100vh;
}

* {
    box-sizing: border-box;
}

.normal-weight {
    font-weight: 400;
}

.light-weight {
    font-weight: 300;
}

div {
    margin: 0;
    padding: 0;
}

/* ---NAVIGATION BAR--- */

.navbar {
    height: 8%;
    width: 100vw;
    background: #3C2A21 ;
    margin: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    height: clamp(3rem, 2rem + 2vw, 4rem);
    margin: 1rem;
    padding: 0.5rem;

}

.tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab {
    justify-content: flex-end;
    color: #FBF7EF;
    padding: 0 10px;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: clamp(1rem, 0.5rem + 2.25vw, 1.5rem);
}

.tab:hover {
    color: #cbaf76;
}

.tab-divider {
    width: 1px;
    height: clamp(1rem, 0.5rem + 2.25vw, 1.5rem);
    background-color: #FBF7EF;
    display: inline-block;
}

/*  HOME IMAGE */

.home-img {
    position: relative;
    width: 100%;
    height: auto;
    margin: unset;
    margin-top: 8vh;
}

  
.home-img picture {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}
  
.home-img img {
    width: 100%; 
    height: auto;
    margin-bottom: -6px;
}

.img-text {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    margin: unset;
}

.img-text h1 {
    color: white;
    font-family: 'Unbounded', cursive;
    font-size: clamp(1.5rem, 1rem + 4vw, 8rem);
    margin: 1rem 0;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.img-text p {
    color: white;
    font-family: 'Bitter', sans-serif;
    font-size: clamp(1.5rem, 1rem + 3vw, 7rem);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cbaf76;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: clamp(1rem, 1rem + 1vw, 2.5rem);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.cta-button:hover {
    background-color: #d5be8e;
}



    /* INTRODUCTION */
.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.wrapper {
    width: 91%;
    position: relative;
    display: flex;
    justify-content: center;
}
.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
    }
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    overflow-x: auto;
    background: transparent;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    padding: 0.5rem;
    margin: 10px 0;    
    flex-direction: column;
    box-shadow: 0.5rem 0 10px rgba(0,0,0,.1);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border: 4px solid #fff;
}
.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 5px 0 5px;
}
.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.home-background,  .contact-background, .product-background {
    margin: 0;
    width:100%;
    background-color: #EEEEEE;
    height: 100%;
}

.home-background {
    padding: 0.5rem;
}

.contact-background, .product-background {
    min-height: 100vh;
}

.intro {
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto 30px;
    width: 90%;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}

.intro p, li {
    font-size: clamp(1rem, 0.5rem + 2vw, 1.3rem);
    text-align: justify;
    list-style-type: square;
}

.intro li {
    margin: 0.5rem
}

.intro ul {
    padding-left: 45px;
}

.intro h2 {
    font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
    margin: 10px 20px;
}

    /* CONTACT PAGE */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 100px;
}

.contact {
    width: 85%;
    margin: 5% auto;
    padding: 5px;
    background-color: white;
    display: flex; 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}

.contact img {
    width: 100%;
    height: auto; 
}

.contact-box {
    padding: 15px;
}

.contact-heading {
    font-size: clamp(1.3rem, 0.5rem + 2vw, 3rem);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.contact-info p {
    font-size: clamp(1rem, 0.5rem + 1.1vw, 2rem);
}

.contact-info-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon {
    height: clamp(1rem, 0.5rem + 1vw, 1.4rem);
    margin: 0 5px;
    fill: black;
    max-width: 1.5rem;
    vertical-align: midddle;
}

.info-detail {
    margin: 0;
    line-height: 1;
}

.info-detail-icon {
    display: flex;
    flex-direction: row;
}

    /* PRODUCTS PAGE */

.wrapper-products {
    contain: paint;
}

:root {
    --bar-width: 50px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: #333;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
    margin-top: 9vh;
}

.hamburger-menu:has(input:checked) {
    --foreground: #333;
    --background: #333;
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    position: absolute;
    right: 0;
    transition: translate var(--animation-timing);
    translate: 100%;
    padding: 0 1rem 2rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

#search-container {
    margin: 0;
    width: 60%;
    display: flex;
    align-items: center;

}

#search-container input {
    background-color: transparent;
    border-bottom: 2px solid #110f29;
    padding: 1em;
    width: 80%; 
    box-sizing: border-box; 
    font-size: 1rem;
    margin:1rem 0.25rem ;
}

#search-container button {
    padding: 0;
    background-color: #cbaf76;
    color: #ffffff;
    border-radius: 5px;
    width: 18%; 
    font-size: 1rem;

}

.search-icon {
    height: 3rem;
}

#buttons {
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.button-value {
    border: 2px solid #3C2A21;
    padding: 1em 2.2em;
    margin: 0 0 1rem 0.5rem;
    border-radius: 3em;
    background-color: transparent;
    color: #3C2A21;
    cursor: pointer;
    font-family: 'Bitter', sans-serif;
    font-size: 1rem;
}

.active {
    background-color: #3C2A21;
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 8vh 2rem;
    overflow-x: hidden;
}


.container .products-container{
    margin: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 0.5fr));
    gap:2rem;
}

.container .products-container .product {
text-align: center;
padding:1rem 1rem;
background: #fff;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
outline: .1rem solid #ccc;
outline-offset: -0.5rem;
cursor: pointer;
max-width: 100%;
}




.container .products-container .product:hover{
outline: .2rem solid #222;
outline-offset: 0;
}

.container .products-container .product img, .product-home img{
    width: 100%; 
    object-fit: cover;
}


.container .products-container .product h3, .product-home h3{
margin: .25rem auto;
font-size: 1.75rem;
color:#444;
}

.container .products-container .product:hover h3{
color:#cbaf76;
}

.preview-container {
    position: fixed;
    top:0;
    left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.preview{
    margin-top: 2vh;
    display: inline-block;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: .5rem;
    text-align: center;
    background: #fff;
    position: absolute; 
    width: auto; 
    max-width: 90%; 
    max-height: calc(100vh - 5rem);
}

.preview h2, .preview p {
    margin: .5rem auto;
}

.preview img {
    width: 100%;
    max-height: 60vh; 
    height: auto;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.close img {
    width: 1.5rem; 
    height: auto;
    z-index: 100;
}

.hide {
    display: none;
}

@media (max-width: 799px) {
    .img-text {
        width: 90%;
        top: 70%;
        left: 50%;
    }
    .img-text p {
        margin-bottom: 1rem;
    }
    .intro ul {
        padding-left: 20px;
    }
   
    .intro h2 {
        text-align: center;
    }
    .contact-container {
        padding-top: 80px;
    }
    .contact img {
        width: 100%;
        height: auto;
    }
    .contact {
        flex-direction: column;
    }
    .contact-info-item {
        margin: 10px 0
    }
    .contact-box {
        padding: 5px;
    }
    .icon {
        max-width: 1rem;
    }
    .container .products-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:1rem;
        margin-top: 4rem;
    }
    .container .products-container .product h3 {
        font-size: 1rem; 
        margin: 0;
    }
    .preview
    {
        width:90%;
    }
    #search-container {
        width: 100%;
    }
    #search-container input {
        width: 80%;
        height: 10%;
        box-sizing: border-box;
        margin: 0.5rem 0;
        font-size: 1rem;
        padding: 0.75rem;
    }
    #search-container button {
        width: 19%;
        height: 10%;
        padding: 0.25rem 0;
        box-sizing: border-box;
        margin-left: 1%;
    }
    .search-icon {
        height: 2rem;
    }
    .button-value {
        font-size: 1rem;
        padding: 0.5em 0.8em;
        margin: 0.2rem 0.1rem;
    }
}

@media (min-width: 800px) {
    .sidebar {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 1%;
    }
    .hamburger-menu{
        display: none;
    }
}
@media (min-width: 40rem ) {
    .logo {
        margin: 0 2rem;
    }
    .tab-container {
        margin: 0 2rem;
    }
    
}
